<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if(vaildate) {%>
      <p>欢迎您
        <span>
          <%-data%>
        <span>
        <button id="zhuxiao">注销登录</button>
      </p>
    <% } else {%>
      <div>
        <a href="/login">登录</a>
        <a href="/register">注册</a>
      </div>
    <% }%>
  </body>
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/jquery.cookie.js"></script>
  <script>
    $(function(){
      $("#zhuxiao").click(function(){
        $.removeCookie("HUAIZHIID",{path:"/"});
        location.reload(true);
      })
    })
  
  </script>
</html>
